.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        padding: 15px 16px;
        border: 1px solid #d0d5d2;
    }

    .error {
        color: $clr-error-300;
        font-size: 0.8rem;
    }
}

button {
    width: 100%;
    padding: 10px;
    background-color: $clr-primary-500;

    &:disabled {
        background-color: #ccc;
    }
}